
﻿################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/Release
/lib
/lib/sdk_xm
/lib/sqlite3
/lib/log4cplus
/cold_eye.db
/*.swp
/*.gitignore_REMOTE_3492
/*.gitignore_BACKUP_3492
/*.gitignore_BASE_3492
/*.gitignore_LOCAL_3492
/coly_eye.uml
/ColyEye.aps
/coly_eye.~ml
/StreamReader.dll
/ColyEye.sln
/ColyEye.VC.db
/ColyEye.vcxproj
/ColyEye.vcxproj.filters
/ColyEye.vcxproj.user
/H264Play.dll
/hi_h264dec_v.dll
/HW_H265Decoder.dll
/NetSdk.dll
/sqlite3.dll
/*.dll
/res/ColyEye.ico
/res/ColyEye.rc2
/ipch/COLYEYE-63dc9ed4/*.ipch
/.vs/ColyEye/v14/*.suo
/.vs
/ipch
/.ColyEye.rc.swo
