/coly_eye.uml/ColyEye.aps
/cold_eye.db
/coly_eye.~ml
/ColyEye.vcxproj.filters
/ColyEye.vcxproj.user
/ColyEye.vcxproj
/StreamReader.dll
/H264Play.dll
/hi_h264dec_v.dll
/HW_H265Decoder.dll
/NetSdk.dll
/sqlite3.dll/
Debug
/*
/Debug/ColyEye.tlog/*
lib
/*
Release
/*
res
/*